@use '../styles/variables' as *;
@use '../styles/fonts' as *;
@use '../styles/colors' as *;
@use '../styles/mui-overrides' as *;

.panel {
  width: 100%;
  border-radius: 15px;
  background-color: $panelBgColor;
}
