@use './variables' as *;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-family: 'Obviously', sans-serif;
}

h1, .h1 {
  font-size: 30px;
  line-height: 36px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 30px;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h3, .h3 {
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 14px;
  line-height: 17px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 17px;
  }
}

small, .small {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  @media (max-width: 600px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

caption, .caption {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  @media (max-width: 600px) {
    font-size: 12px;
    line-height: 15px;
  }
}
