@use './variables' as *;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6, caption, .caption {
  margin: 0;
  font-family: 'Obviously', sans-serif;
}

p, .p, h5, .h5, small, .small {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1, .h1 {
  font-size: 30px;
  line-height: 36px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 30px;
}

h3, .h3 {
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 14px;
  line-height: 17px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 19px;
}

p, .p {
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

small, .small {
  font-size: 12px;
  line-height: 14px;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

caption, .caption {
  font-size: 12px;
  line-height: 14px;
}
