$yellow: #FED200;
$yellow1: #E45A2C;
$yellowDark: #FD806D;
$mainBgColor: #05080D;
$darkGray: #191B20;
$gray1: rgba(255, 255, 255, 0.15);
$gray2: rgba(0, 0, 0, 0.4);
$gray3: #37393D;
$gray4: rgba(255, 255, 255, 0.2);
$gray5: rgba(255, 255, 255, 0.06);
$secondaryBgColor: rgba(255, 255, 255, 0.08);
$primaryTextColor: rgba(255, 255, 255, 0.85);
$secondaryTextColor: rgba(255, 255, 255, 0.5);
$borderColor: rgba(255, 255, 255, 0.12);